main {
  margin-top: 40px;
  padding: 20px;
  
  width: 100%;
  max-width: 700px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  .container {
    display: grid;
    grid-template-areas: "buttons timer";
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr;

    padding: 20px;

    width: 100%;
    background-color: #FFF7;
    border-radius: 10px;

    @media (max-width: 500px) {
      grid-template-areas: 
      "buttons" 
      "timer";
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr;

      .buttons { grid-area: buttons; flex-direction: row; }
      .timer { grid-area: timer; margin-top: 20px; }
    }
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;
      border-radius: 10px;

      cursor: pointer;
  
      background-color: black;
    }

    .btn:hover {
      z-index: 4;
      width: 100px;
      
      #pomodoroBtn::before {
        color: white;
        content: 'Pomodoro';
      }
      #longbrakBtn::before {
        color: white;
        content: 'Pomodoro';
      }
      #shortbreakBtn::before {
        color: white;
        content: 'Pomodoro';
      }
    }
  }
}